/* здесь используйте глобальные переменные */
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;

//Base Colors
$black: #333333;
$secondary: #f0ebff;
$primary: #7859cf;
$grey: #bdbdbd;
$white: #ffffff;

// Background Colors
$espresso: #e5e6e8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;

//Alt Colors
$lighter: #9070ec;
$grey: #e2e2e2;
$primary-darker: #593cac;
